/*********************
GENERAL STYLESHEET
*********************/

body {
  color: #00325b;
  font-family: "proxima-nova";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.inner-content, .inner-footer, .inner-header {
  @include container($wrapper-width);
  @include clearfix;
}


$blue: #0d92ff;


.countries-control {
  position: relative;
  margin-bottom: 40px;

  @include breakpoint(1000px) {
    @include span(first 4.5 of 12);
    margin-bottom: 0;
  }

  &:after {
    display: none;
    width: 1px;
    position: absolute;
    top: 62px;
    margin-left: span(11.5 of 12);
    background: #eee;
    content: '';
    height: 190px;

    @include breakpoint(1000px) {
      display: block;
    }
  }
}

.months-control {
  @include breakpoint(1000px) {
    @include span(last 7.5 of 12);
  }
}

.grid-control {
  padding: 0 20px;

  @include breakpoint(1060px) {
    padding: 0;
  }

  .control-title {
    font-size: 18px;
  }

  .checkbox {
    display: inline-block;
    background-image: linear-gradient(to bottom, #f9f9f9, #f6f6f6);
    width: 140px;
    padding: 10px;
    font-size: 16px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    transition: color 0.1s linear;

    .check {
      display: inline-block;
      float: right;
      width: 23px;
      height: 23px;
      background: #fff;
      border: 1px solid #e5e5e5;
    }

    &.is-checked {
      font-weight: bold;
      color: $blue;

      .check {
        background: $blue;
        box-shadow: inset 0 0 0 5px #fff;
      }
    }

    &:hover {
      color: $blue;
    }
  }

  .filter-area {
    clear: both;
    margin-top: 10px;
    font-size: 14px;

    .filter {
      display: inline-block;
      margin-right: 30px;
      cursor: pointer;
      transition: color 0.1s linear;
      position: relative;

      em {
        font-style: normal;
        padding-right: 5px;
      }

      i {
        transition: transform 0.2s linear;
        color: #d6d6d6;  
      }

      &:hover {
        color: $blue;
      }

      &.filter-select-all {
        padding-right: 20px;
      }

      &.sort-month {
        padding-right: 38px;
      }

      .filter-checkbox {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 0;
        line-height: 0;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #e5e5e5;
      }

      .toggle {
        width: 33px;
        height: 18px;
        position: absolute;
        top: 1px;
        right: 0;
        display: inline-block;
        background: #f8f8f8;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        transition: background 0.2s linear;

        .toggle-switch {
          height: 16px;
          width: 16px;
          border-radius: 100%;
          background: #fff;
          box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.4);
          transition: margin 0.2s linear;
        }
      }

      &.is-checked {
        font-weight: bold;
        color: $blue;

        .filter-checkbox {
          background: $blue;
          box-shadow: inset 0 0 0 3px #fff;
        }
      }

      &.sort-reverse {
        i {
          transform: rotate(180deg);
        }
        .toggle {
          background: $blue;

          .toggle-switch {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

.country-grid {
  clear: both;
  padding-top: 60px;
  padding-bottom: 35px;
  border-bottom: 1px solid #eee;
}

.month-grid {
  display: none;
  clear: both;
  padding-bottom: 100px;
}

.month-item {
  top: 60px;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.cc {
  position: relative;
  padding: 60px 0;
}

h4 {
  color: $blue;
  font-famly: "Akzidenz Grotesk", "proxima-nova";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
  // border-top: 1px solid #eee;
  //padding-top: 40px;

  span {
    color: #00325b;
    border:1px solid #eee;
    border-radius: 2px;
    padding: 3px 5px;
    margin-left: 5px;
  }
}

.country-item {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;

  @include breakpoint(740px) {
    width: 50%;
  }

  @include breakpoint(960px) {
    width: 33.3%;
  }

  .svg {
    img {
      width: 100%;
      height: 240px;

      @include breakpoint(800px) {
        height: 180px;
      }

      display: block;
    }
  }

  .country-name {
    margin-top: 20px;
    font-weight: bold;

    span {
      color: $blue;
    }
  }

  .country-month {
    margin-top: -15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #c1c1c1;
    font-size: 14px;
  }
}

.footnotes {
  clear: both;
  font-size: 0.8em;
  color: #555;
  margin-bottom: 40px;
  padding-top: 20px;

  span {
    color: $blue;
  }
}

