/*********************
GENERAL STYLESHEET
*********************/

body {
  color: #00325b;
  font-family: "proxima-nova";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.inner-content, .inner-footer, .inner-header {
  @include container($wrapper-width);
  @include clearfix;
}



$blue: #0d92ff;

h4 {
  color: $blue;
  font-famly: "Akzidenz Grotesk";
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}




.countries-control {
  @include breakpoint(800px) {
    @include span(first 4.5 of 12);
  }
  position: relative;

  &:after {
    display: block;
    width: 1px;
    position: absolute;
    top: 62px;
    margin-left: span(11.5 of 12);
    background: #eee;
    content: '';
    height: 190px;
  }
}

.months-control {
  @include breakpoint(800px) {
  @include span(last 7.5 of 12);
  }
}

.grid-control {

  .control-title {
    font-size: 18px;
  }

  .checkbox {
    display: inline-block;
    background-image: linear-gradient(to bottom, #f9f9f9, #f6f6f6);
    width: 140px;
    padding: 10px;
    font-size: 16px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    transition: color 0.1s linear;

    .check {
      display: inline-block;
      float: right;
      width: 23px;
      height: 23px;
      background: #fff;
      border: 1px solid #e5e5e5;
    }

    &.is-checked {
      font-weight: bold;
      color: $blue;

      .check {
        background: $blue;
        box-shadow: inset 0 0 0 5px #fff;
      }
    }

    &:hover {
      color: $blue;
    }
  }

  .filter-area {
    clear: both;
    margin-top: 10px;
    font-size: 14px;

    .filter {
      display: inline-block;
      margin-right: 30px;
      cursor: pointer;
      transition: color 0.1s linear;
      position: relative;

      em {
        font-style: normal;
        padding-right: 5px;
      }

      i {
        color: #d6d6d6;  
      }

      &:hover {
        color: $blue;
      }

      &.filter-select-all {
        padding-right: 20px;
      }

      &.filter-organize {
        padding-right: 38px;
      }

      .filter-checkbox {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 0;
        line-height: 0;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #e5e5e5;
      }

      .toggle {
        width: 33px;
        height: 18px;
        position: absolute;
        top: 1px;
        right: 0;
        display: inline-block;
        background: #f8f8f8;
        border-radius: 10px;
        border: 1px solid #e6e6e6;

        .toggle-switch {
          height: 16px;
          width: 16px;
          border-radius: 100%;
          background: #fff;
          box-shadow: 2px 3px 2px -2px rgba(0,0,0,0.4);
        }
      }

      &.is-checked {
        font-weight: bold;
        color: $blue;

        .filter-checkbox {
          background: $blue;
          box-shadow: inset 0 0 0 3px #fff;
        }
      }
    }
  }
}

.country-grid {
  clear: both;
  padding-top: 60px;

  .country-item {
    width: 100%;

    @include breakpoint(800px) {
      width: 33.3%;
    }

    text-align: center;
    margin-bottom: 40px;

    .svg {
      img {
        width: 100%;
        height: 240px;

        @include breakpoint(800px) {
          height: 180px;
        }

        display: block;
      }
    }
    .country-name {
      margin-top: 20px;
      font-weight: bold;

      span {
        color: $blue;
      }
    }
    .country-month {
      margin-top: -15px;
      text-transform: uppercase;
      font-weight: bold;
      color: #c1c1c1;
      font-size: 14px;
    }
  }
}

